@font-face {
  font-family: LilitaOne-Regular;
  src: url("../fonts/LilitaOne-Regular.ttf");
}
@font-face {
  font-family: DG-3asomy-Regular;
  src: url("../fonts/DG-3asomy-Regular.ttf");
}
@font-face {
  font-family: NotoSansArabic-SemiBold;
  src: url("../fonts/NotoSansArabic-SemiBold.ttf");
}
@font-face {
  font-family: NotoKufiArabic-Bold;
  src: url("../fonts/NotoKufiArabic-Bold.ttf");
}
@font-face {
  font-family: Asmaa-Font;
  src: url("../fonts/Asmaa-Font.otf");
}